@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&display');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "bebas-neue-regular";
    font-optical-sizing: auto;
    font-size: 20px;


  }

  .main-bg::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 250%;
    background: linear-gradient(to right, #ffcdd2 , #f8bbd0, #e1bee7);
    animation: spin 3s infinite linear forwards;
    z-index: -1;
    pointer-events: none;
  }

  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(-50%, -50%) rotate(45deg); }
    25% { transform: translate(-50%, -50%) rotate(90deg); }
    25% { transform: translate(-50%, -50%) rotate(165deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

}

@layer utilities {
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /*   <uniquifier>: Use a unique and descriptive class name */
  /*  <weight>: Use a value from 400 to 700 */

  .dancing-script-title {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

}